@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200&family=Poiret+One&display=swap");

h1,
h3 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;

  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(0, 150, 255, 0.5); /* Effetto luminoso */
}

h1 {
  letter-spacing: 0.1em;
  font-size: 4rem;
  margin: 0;
}

h3 {
  letter-spacing: 0.2em;
  font-size: 0.9rem;
  margin: 0;
}

.App {
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* gap: 0; */
  /* height: auto; */
  /* background-color: var(--purple900); */
  /* background: linear-gradient(var(--purple900), var(--purple700)); */
  background-image: linear-gradient(
    to top,
    #3a0ca3,
    #330e80,
    #2a0e5e,
    #200d3f,
    #160522
  );
  color: white;
  overflow: hidden;
  position: relative;
}

.circle {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.8s ease-in-out;
  opacity: 0.7;
}

.circle-container {
  position: fixed;
  z-index: 0;
}

.start-view {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  align-content: center;
  z-index: 1;
}

.second-view {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex; /* Abilita Flexbox */
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra orizzontalmente */
  text-align: center;
  align-content: center;
  z-index: 1;
}
